* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  min-height: 100vh;
  max-width: 98%;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 325px;
  margin: 15px;
  background: rgba(255,255,255,.8);
  border-top: 1px solid rgba(255,255,255,.4);
  border-left: 1px solid rgba(255,255,255,.4);
  backdrop-filter: blur(5px);
  box-shadow: -5px 5px .4em rgba(0,0,0,.1);
  border-radius: 4px;
  transition: .5s ease;
}

.container .card:hover {
  transition: .5s ease;
  margin-right: 50px;
  width: 600px;
}

.container .card:nth-child(1):hover {
  background: rgba(238,205,109,.7);
}

.container .card:nth-child(2):hover {
  background: rgba(128,188,224,.7);
}

.container .card:nth-child(3):hover {
  background: rgba(107,29,22,.7);
}

.container .card img {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  transition: .5s ease;
}

.container .card:nth-child(1) img {
  height: 230px;
}

.container .card:hover img {
  left: 75%;
  height: 340px;
}

.container .card:nth-child(1):hover img {
  left: 65%;
  height: 320px;
}

.container .card:nth-child(3):hover img {
  left: 80%;
  height: 335px;
}

.container .card .content {
  position: relative;
  width: 300px;
  left: 20%;
  opacity: 0;
  visibility: hidden;
  padding: 20px 20px 20px 40px;
  transition: .5s ease;
}

.container .card:hover .content {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.content h2 {
  font-family: 'Permanent Marker', cursive;
  color: #fefefe;
  text-transform: uppercase;
  text-shadow: 1px 1px .1em rgba(0,0,0,.3);
  font-size: 2.2em;
  line-height: 1em;
}

.content p {
  font-family: 'Roboto', sans-serif;
  color: #fefefe;
  margin: 20px 0 20px;
  font-weight: 400;
}

.content a {
  font-family: 'Roboto', sans-serif;
  position: relative;
  color: #555;
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 1px 1px .2em rgba(0,0,0,.3);
  padding: 5px 20px;
  text-decoration: none;
  font-weight: 500;
}