* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80);  
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.opacity {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, .1); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: rgba(232, 245, 245, 1);
  width: 350px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 1px 2px .6em rgba(0,0,0,.4);
  opacity: .9;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 0;
}

a {
  
  background: transparent;
  text-decoration: none;
  padding: 18px 65px;
  margin: 0 auto 2em;
  color: #244063;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

/************* FIRST BUTTON *************/

a:nth-child(1) {
  outline: 2px solid;
  outline-color: #244063;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

a:nth-child(1):hover {
  outline-offset: 15px;
  outline-color: rgba(255, 255, 255, 0);
  text-shadow: 1px 1px 2px #427388;
}

a:nth-child(2) {
  position: relative;
  letter-spacing: 0;
  transition: all 650ms ease-in-out;
}

/************* SECOND BUTTON *************/

a:nth-child(2):after,
a:nth-child(2):before {
  content:"";
  border: 1px solid rgba(0,0,0, 0);
  width: 0;
  margin: 18px auto;
  display: block;
  position: relative;
  transition: all 650ms ease-in-out;
}

a:nth-child(2):hover {
  letter-spacing: 4px;
  text-shadow: 1px 1px 2px #427388;
  transition: all 650ms ease-in-out;
}

a:nth-child(2):hover:after,
a:nth-child(2):hover:before {
  transition: all 650ms ease-in-out;
  width: 100%;
  border: 1px solid #427388;
}

/************* THIRD BUTTON *************/

a:nth-child(3) {
  outline: 2px solid;
  outline-color: #244063;
  position: relative;
  height: 60px;
  width: 210px;
}

a:nth-child(3) span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: all 650ms ease-in-out;
}

a:nth-child(3):hover span {
  color: rgba(232, 245, 245, 1);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, .4);
  transition: all 650ms ease-in-out;
  z-index: 2;
}


a:nth-child(3):after,
a:nth-child(3):before {
  content:"";
  position: absolute; 
  width: 0;
  height: 100%;
  background: #244063;
  top: 0;
  z-index: 2;
  transition: all 650ms ease-in-out;
}

a:nth-child(3):before {
  left: 0;
}

a:nth-child(3):after {
  right: 0;
}

a:nth-child(3):hover:before,
a:nth-child(3):hover:after {
  width: 50%;
  transition: all 650ms ease-in-out;
  z-index: 1;
}



