* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(-45deg, #323232 0%, black 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  background: #43e97b;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone img {
  height: 60px;
}

.pulse {
  width: 120px;
  height: 120px;
  position: fixed;
  background: transparent;
  border-radius: 50%;
  transition: scale(1);
  animation: pulse 1s infinite;
  border: 1.5px solid rgba(67, 233, 123, 91);
}

.pulse-02 {
  animation-delay: .2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    border: 1.5px solid rgba(67, 233, 123, 91);
  }
  100% {
    transform: scale(1.4);
    border: 1.5px solid rgba(67, 233, 123, 0);
  }
}