@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

 ul {
   position: relative;
   display: flex;
   transform: rotate(-20deg) skew(25deg);
   transform-style: preserve-3d;
}

li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  margin: 0 20px;
}

li:after {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  heigth: 100%;
  background: #363636;
  transform-origin: right;
}

li:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  transform-origin: top;
}

li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #363636;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-size: 30px !important;
  transition: 1s ease-out;
}

li:hover span {
  z-index: 1000;
  transition: .4s;
  color: #fefefe;
  box-shadow: -1px 1px 1px rgba(0,0,0, .5);
}

li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: .8;
}

li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: .6;
}

li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: .4;
}

li:nth-child(1):hover span {
  background: #1DA1F2;
}

li:nth-child(2):hover span {
  background: #1877F2;
}

li:nth-child(3):hover span {
  background: #0A66C2;
}

li:nth-child(4):hover span {
  background: #181717;
}

li:nth-child(5):hover span {
  background: #000;
}