* {
  margin: 0;
  padding: 0;
  box-sizing: bordex-box;
}

body {
  background-color: #E0E0E0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 480px;
  height: 480px;
  background-color: #e0e0e0;
  box-shadow: 5px 5px 1em rgba(210,210,210,1), -5px -5px 1em rgba(240,240,240,1);
  border-radius: 20px;
  position: relative;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: top left;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #e0e0e0;
  box-shadow: 5px 0 1em rgba(210,210,210,1), -5px 0 1em rgba(240,240,240,1);
  cursor: pointer;
  transition: .4s ease-in-out;
}

.button:hover {
  transform: scale(1.08);
  transition: .4s ease-in-out;
}

.button:nth-child(1):hover {
  box-shadow: 7px 0 1em rgba(32,178,146,.3), -7px 0 1em rgba(250,250,250,1);
  transition: .4s ease-in-out;
}

.button:nth-child(2):hover {
  box-shadow: 7px 0 1em rgba(232,79,19,.3), -7px 0 1em rgba(250,250,250,1);
  transition: .4s ease-in-out;
}

.button:nth-child(3):hover {
  box-shadow: 7px 0 1em rgba(213,145,189,.3), -7px 0 1em rgba(250,250,250,1);
  transition: .4s ease-in-out;
}

.button:nth-child(4):hover {
  box-shadow: 7px 0 1em rgba(161,169,213,.3), -7px 0 1em rgba(250,250,250,1);
  transition: .4s ease-in-out;
}

.button:hover img,
.button:hover .square {
  opacity: .6;
  transition: .4s ease-in-out;
}

.square, img {
  transform: rotate(-45deg);
  height: 70px;
  width: 70px;
  color: rgb(0,0,0);
  opacity: .2;
  transition: .4s ease-in-out;
}

img {
  position: absolute;
  top: 40px;
  left: 40px;
}

.button .x {
  top: 40px;
  left: 40px;
}

.square {
  height: 55px;
  width: 55px;
  border: 8px solid #000;
  border-radius: 4px;
}

