* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
  }
  
  .birthday {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
  }
  
  /*------- BASE -------*/
  .base {
    height: 3px;
    width: 400px;
    background: #fefefe;
    border-radius: 20px;
    box-shadow: 1px 1px 1em rgba(0,0,0,.6)
  }
  
  /*------- CAKE -------*/
  .cake .layer-01, .cake .layer-02, .cake .layer-03 {
    background: #825439;
    width: 300px;
    height: 35px;
  }
  
  .cake .layer-01 {
    border-radius: 0 0 5px 5px;
  }
  
  .cake .layer-03 {
    height: 50px;
    border-radius: 5px 5px 0 0;
  }
  
  .cake .flavor {
    background: #BFACA4;
    width: 300px;
    height: 27px;
  }
  
  /*------- TOPPING -------*/
  .topping {
    background: #F7E2C9;
    width: 315px;
    height: 27px;
    position: absolute;
    top: 40px ;
    border-radius: 25px 25px 10px 10px;
  }
  
  .topping:after, .topping:before {
    background: #F7E2C9;
    content: "";
    position: absolute;
    border-radius: 0 0 25px 25px;
  }
  
  .topping:after {
    width: 35px;
    height: 60px;
    left: 48px;
  }
  
  .topping:before {
    width: 40px;
    height: 95px;
    top: 10px;
  
    border-radius: 30px 0 130px 70px;
  }
  
  /*------- CANDLE -------*/
  .candles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 65px;
  }
  
  .candle {
    background: #fefefe;
    width: 10px;
    height: 50px;
    border-radius: 4px 4px 0 0;
  }
  
  .candle .fire {
    background: rgba(254, 248, 97, 0.5);
    width: 11px;
    height: 17px;
    position: absolute;
    top: -20px;
    border-radius: 100%;
    box-shadow:  0 0 40px 10px rgba(248, 233, 209, .2)
  }
  
  .candle:nth-child(1) .fire {
    left: 30%;
  }
  
  .candle:nth-child(2) .fire {
    left: 48.8%;
  }
  
  .candle:nth-child(3) .fire {
    left: 67.5%;
  }
  
  .candle .fire:nth-child(1) {
    -webkit-animation: fire 1s infinite;
  }
  
  .candle .fire:nth-child(2) {
    -webkit-animation: fire 1.5s infinite;
  }
  
  .candle .fire:nth-child(3) {
    -webkit-animation: fire 0.7s infinite;
  }
  
  .candle .fire:nth-child(4) {
    -webkit-animation: fire 3s infinite;
  }
  
  h1 {
    font-family: 'Caveat', cursive;
    margin-top: 25px;
    color: rgba(255, 255, 255, .4);
    font-weight: regular;
  }
  
  /*------- CANDLE ANIMATION -------*/
  @keyframes fire {
    0% {
      background: rgba(254, 248, 97, 0.5);
      transform: translateY(0) scale(1);
    }
    
    50% {
      background: rgba(254, 248, 97, 0.2);
          transform: translateY(-20px) scale(0);
    }
    
    100% {
      background: rgba(254, 248, 97, 0.1);
          transform: translateY(0) scale(1);
    }
  }