* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #C9CCD3;
background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg); 
}

.box {
  background: red;
  width: 50px;
  height: 50px;
  margin: 0;
  transform: rotate(0);
  animation: loading-boxes 1.75s infinite;
}

.box:nth-child(1) {
  background: #183152;
}
.box:nth-child(2) {
  background: #375D81;
}
.box:nth-child(3) {
  background: #C4D7ED;
}
.box:nth-child(4) {
  background: #ABC8E2;
}

@keyframes loading-boxes {
  0% {
    margin: 0;
    transform: rotate(0deg);
  }
  50% {
    margin: 20px;
    transform: rotate(90deg);
  }
  100% {
    margin: 0;
    transform: rotate(90deg);
  }
}
