* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.container {
  height: 600px;
  width: 900px;
}

ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-30deg) skew(25deg);
  transform-style: preserve-3d;
}

li {
  position: absolute;
  list-style: none;
  width: 300px;
  height: 350px;
  top: 100px;
  left: 0;
}

li:nth-child(1) {
  transform: translate(20px, -20px);
  opacity: 1;
  z-index: 3;
  transition: 1s;
}

li:nth-child(2) {
  transform: translate(0,0);
  opacity: .6;
  z-index: 2;
  transition: 1s;
}

li:nth-child(3) {
  transform: translate(-20px, 20px);
  opacity: .4;
  z-index: 1;
  transition: 1s;
}

.card {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 0 20px;
  background: #4CAEFE;
  border-radius: 8px;
  box-shadow: 1px 1px .4em rgba(0,0,0,.4);
  transition: 1s;
}

.card .content {
  padding: 60px 25px;
  opacity: 0;
  transition: 1s;
}

.content h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #fbfbfb;
  letter-spacing: 1px;
  text-align: center;
}

.content p {
  margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #fbfbfb;
  font-size: 16px;
  text-align: justify;
  line-height: 24px;
}

/*ANIMATION*/
.container:hover ul li:nth-child(1) {
  transform: translate(-80px, 0) rotate(38deg) skew(-8deg,0);
  top: -100px;
  left: -100px;
  width: 300px;
  height: 350px;
  transform-style: initial;
  opacity: 1;
  transition: 1s;
}

.container:hover ul li:nth-child(2) {
  transform: translate(250px, 0) rotate(38deg) skew(-8deg,0);
  top: 80px;
  left: -200px;
  width: 300px;
  height: 350px;
  transform-style: initial;
  opacity: 1;
  transition: 1s;
}

.container:hover ul li:nth-child(3) {
  transform: translate(580px, 0) rotate(38deg) skew(-8deg,0);
  top: 230px;
  left: -290px;
  width: 200px;
  height: 350px;
  transform-style: initial;
  opacity: 1;
  transition: 1s;
}

.container:hover ul li:nth-child(1) .card,
.container:hover ul li:nth-child(2) .card,
.container:hover ul li:nth-child(3) .card {
  width: 270px;
  height: 450px;
  transition: 1s;
}

.container:hover ul li:nth-child(1) .card .content,
.container:hover ul li:nth-child(2) .card .content,
.container:hover ul li:nth-child(3) .card .content {
  opacity: 1;
  transition: 1s;
}