* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
    position: relative;
    width: 200px;
    height: 120px;
    background: #fefefe;
    box-shadow: 0 10px 20px -8px rgba(0,0,0,.3);
    border-radius: 4px;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.toggle, .toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.toggle {
    width: 100%;
    background-color: #E6E6E6;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 100px;
}

/* Button 3 */
.button .toggle-button:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    padding: 9px 4px;
    background-color: #CCCCCC;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

.button .checkbox:active + .toggle-button:before {
    width: 46px;
    border-radius: 100px;
}

.button .checkbox:checked:active + .toggle-button:before {
    margin-left: -26px;
}

.button .checkbox:checked + .toggle-button:before {
    content: '';
    left: 42px;
    background-color: #9FE082;
}

.button .checkbox:checked ~ .toggle {
    background-color: #CDFADA;
}