* {
  margin: 0;
  paddding: 0;
  box-sizing: border-box;
}

body { 
  min-height: 100vh;
  background-image: linear-gradient(310deg, #09203f 0%, #537895 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  background: #E9F0F6;
  padding: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  box-shadow: 1px 1px .7em rgba(0,0,0,.6);
  transition: all 500ms ease-in-out;
}

.container input {
  width: 0;
  height: 50px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  border: none;
  outline: none;
  visibility: hidden;
  border-radius: 50px;
  background: transparent;
  transition: all 500ms ease-in-out;
}

.container .search-button {
  background: #E9F0F6;
  position: absolute;
  width: 48px;
  height: 48px;
  right: 6px;
  cursor: pointer;
    border-radius: 50px;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: all 500ms ease-in-out;
}

.container i {
  position: absolute;
  right: 12px;
  top: 10px;
  font-size: 26px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.container:hover {
  width: 400px;
  transition: all 500ms ease-in-out;
}

.container:hover input {
  width: 320px;
  visibility: visible;
  transition: all 500ms ease-in-out;
}

.container:hover .search-button {
  right: 6px;
  background: #4C6F8D;
  box-shadow: 1px 1px .6em rgba(0,0,0,.3);
  transition: all 500ms ease-in-out;
}

.container:hover i {
  color: #E9F0F6;
  transition: all 200ms ease-in-out;
}