* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #EEF1F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  color: #333;
  font-family: 'Roboto Mono', monospace;
  
}

h1 {
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  text-transform: capitalize
}

.button {
  position: relative;
  width: 80px;
  height: 35px;
  background: #CFCFCF;
  border-radius: 100px;
  box-shadow: 1px 1px .3em rgba(0,0,0,.2);
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

.toggle, toggle-button {
  position: absolute;
  z-index: 2;
}

.toggle {
  width: 100%;
  background: green;
  z-index: 1;
  border-radius: 50px;
  transition: all .3s ease;
}

.toggle-button:before {
  background: #404A5E;
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 27px;
  height: 27px;
  border-radius: 100px;
  box-shadow: 1px 1px .3em rgba(0,0,0,.4);
  transition: all .3s ease;
}

.checkbox:active + .toggle-button:before {
  width: 40px;
  border-radius: 100px;
}

.checkbox:checked:active + .toggle-button:before {
  margin-left: -13px;
} 

.checkbox:checked + .toggle-button:before {
  content: '';
  left: 49px;
  background-color: #fefefe;
  box-shadow: -1px 1px .3em rgba(0,0,0,.4);
}

.dark-mode {
  background: #1A1E26;
  color: #EEF1F7;
  transition: all .3s ease;
}
