@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-color: #C6CFAB;
  min-height: 100vh;
}

.container {
  height: 232px;
  min-width: 500px;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #9BA87B;
  border-radius: 4px;
  box-shadow: inset 0 0 1em rgba(0,0,0, .2)
}

button {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  height: 38px;
  margin: 0 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #D0D9B4;
  transition: 300ms all;
}

button:first-child {
  background-color: #E8EDDA;
}

button:nth-child(2) {
  background-color: #D0D9B4;
}

button:nth-child(3) {
  background-color: #B5C48F;
}

button:nth-child(4) {
  background-color: #9DB36D;
}

button:last-child {
  background-color: #85A14A;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: #333;
  font-size: 16px;
  transition: 250ms all;
}

img {
  width: 20px;
}

button:hover {
  height: 42px;
  margin: 0 -4px;
  background-color: #C6CFAB;
}

button:hover p {
  font-size: 17px;
}