* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #434343 0%, black 100%);
}

body::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%);
  clip-path: circle(15% at 10% 70%);
}

body::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%);
  clip-path: circle(15% at 80% 9%);
}

.card {
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0,0,0,.5);
  background: rgba(255,255,255,.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,.4);
  border-left: 1px solid rgba(255,255,255,.4);
  backdrop-filter: blur(5px);
  			transition: 600ms ease;
}

.content-top h2 {
  top: 30px;
  right: 30px;
  text-transform:uppercase;
  font-family: 'Raleway', sans-serif;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
}

img,
.content-top h2 {
  position: absolute;
  opacity: .7;
}

img#chip {
  top: 80px;
  left: 30px;
  width: 40px;
  border-radius: 9px;
  transform: rotate(90deg);
}

img#contactless {
  top: 87.5px;
  left: 95px;
  width: 25px;
  opacity: .5;
  filter: invert(100%);
}

img#logo {
  bottom: 20px;
  left: 30px;
  width: 120px;
}

img#mastercard {
  bottom: 20px;
  right: 30px;
  width: 80px;
}


.tilt {
  box-shadow: 0 20px 30px -13px rgba(0, 0, 0, 0.7);
	transform-style: preserve-3d;
	transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

.tilt:hover {
  		box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.7);
}