* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  transform-style: preserve-3d;
}

.card {
  position: relative;
  background: #000;
  width: 350px;
  height: 450px;
  margin: 60px 30px;
  border-radius: 6px;
  transform-style: preserve-3d;
}

.card:hover {
  box-shadow: 0 50px 80px rgba(0,0,0,.2);
  transition: .5s ease-in-out;
}

.card .image-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card .image-card img {
  border-radius: 6px;
}

.card .content-card {
  position: absolute;
  top: 65%;
  left: 50px;
  right: 50px;
  padding: 30px 25px;
  opacity: 0;
  border-radius: 4px;
  background: #fefefe;
  transform: translateZ(10px) scaleY(0);
  transform-style: preserve-3d;
  transform-origin: top;
  transition: .5s ease-in-out;
}

.card:hover .content-card {
  transform: translateZ(50px) scaleY(1);
  opacity: 1;
  transition: .5s ease-in-out;
}

.card .content-card h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card .content-card p {
  font-size: 14px;
  font-weight: 400;
}
