* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  min-height: 100vh;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  position: relative;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase; 
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #fefefe;
  margin: 0 15px;
  padding: 10px 45px;
  border: 2px solid #51DDFC;
  transition: 500ms ease-in-out;
}

.btn:hover {
  color: #222;
}

.btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 100%;
  background-color: #51DDFC;
  z-index: -1;
  transition: 500ms ease-in-out;
}

.btn01:before {
  width: 110%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn01:hover:before {
  height: 350%;
}

.btn02:before {
  width: 110%;
  height: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn02:hover:before {
  height: 350%;
  transform: translate(-50%, -50%) rotate(0);
}

.btn03:before {
  top: -50%;
  width: 110%;
  height: 0;
  border-radius: 50%;
}

.btn03:hover:before {
  height: 700%;
  transform: translate(-50%, -50%) rotate(0);
}

.btn04:before {
  width: 110%;
  height: 0;
}

.btn04:hover:before {
  height: 110%;
}

.btn05:before {
  width: 0;
  height: 110%;
}

.btn05:hover:before {
  width: 110%;
}

@media only screen  and (max-width: 930px) {
  body {
    flex-direction: column;
  }
  .btn {
    margin: 10px auto;
  }
}