* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Sora', sans-serif;
  color: #eee;
}

.card {
  position: relative;
  width: 400px;
  height: 450px;
  background: rgba(255,255,255,.1);
  border-top: 1px solid rgba(255,255,255,.4);
  border-right: 1px solid rgba(255,255,255,.4);
  backdrop-filter: blur(5px);
  box-shadow: -5px 5px .5em rgba(0,0,0,.1);
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 45px;
}

.card-title h1 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase; 
  text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.form {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
}

.form input,
.form button {
  width: 98%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  letter-spacing: .5px;
}

.form input {
  padding: 0 18px;
  margin-bottom: 15px;
  background: rgba(255,255,255,.3);
  color: #333;
  font-size: 15.5px;
  transition: 500ms ease;
}

.form input:focus {
  background: rgba(255,255,255,.5);
  transform: scale(1.1);
  transition: 500ms ease; 
}

.form button {
  margin-top: 30px;
  background: #65B4F3;
  text-transform: uppercase;
  font-family: 'Sora', sans-serif;
  font-size: 16.5px;
  color: #eee;
  cursor: pointer;
  transition: 300ms ease;
}

.form button:hover {
  background: #3E6D94;
  letter-spacing: 3px;
  box-shadow: 2px 2px .4em rgba(0,0,0,.4);
  transition: 300ms ease;
}

.card .forgot-password,
.new-account {
  position: relative;
  align-self: center;
  margin-top: 40px;
  text-decoration: none;
  letter-spacing: 0;
  color: #4F8BBD;
  text-shadow: 1px 1px 1px rgba(0,0,0,.1);
  transition: 500ms ease;
}

.forgot-password:hover {
  color: #2A4963;
  letter-spacing: .5px;
  transform: scale(1.1);
  transition: 500ms ease;
}

.new-account:hover {
  color: #2A4963;
  letter-spacing: 1.5px;
  transform: scale(1.2);
  transition: 500ms ease;
}


