* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
  font-family: 'Poppins', sans-serif;
  
}

header {
  background-image: linear-gradient(to left, #212121 0%, black 100%);
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 2.5px 10px;
}

.logo img {
  width: 50px;
  height: 50px;
}


.hamburger {
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 5px;
  border: 0;
  position: relative;
  cursor: pointer;
  display: none;
}

.hamburger:after {
  content:'';
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 7%;
  border-radius: 10px;
  background: #fefefe;
  transition: 1s ease;
}

.hamburger:before {
  content:'';
  position: absolute;
  top: 55%;
  left: 40%;
  width: 45%;
  height: 7%;
  border-radius: 10px;
  background: #fefefe;
  transition: 1s ease;
}

#hamburger:checked ~ label .hamburger:after {
  transform: rotate(225deg);
  top: 10px;
  transition: 1s ease;
}

#hamburger:checked ~ label .hamburger:before {
  transform: rotate(-225deg);
  top: 10px;
  left: 5px;
  width: 70%;
  transition: 1s ease;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fefefe;
  transition: .5s ease;
}

.menu li a:hover {
  color: #9999;
}



@media screen and (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 999;
    transition: 500ms ease;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 230px;
    margin: 0;
    padding: 80px 20px;
    background-color: #212121;
    flex-direction: column;
    transition: .5s ease;
  }

  .menu.active {
    right: 0;
  }
}