body {
  background-image: linear-gradient(67deg, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 25%;
  font-family: 'Montserrat', sans-serif;
  color: #fefefe;
  text-shadow: rgba(0,0,0,.3) .2em .2em .5em;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}