* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

img {
  position: absolute;
  left: calc(50% - 200px);
  height: 600px;
  width: 400px;
  object-fit: cover;
  opacity: 0;
  border-radius: 2px;
  box-shadow: 2px 4px .2em rgba(0,0,0,.2);
  cursor: pointer;
  z-index: 1;
  animation: carousel 10s infinite;
}

@keyframes carousel {
  0% {
    transform: translateX(250px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-250px);
    opacity: 0;
  }
  100% {
    transform: translateX(-250px);
    opacity: 0;
  }
}

img:nth-child(2) {
  animation-delay: 2s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 6s;
}

img:nth-child(5) {
  animation-delay: 8s;
}